@font-face {
  font-family: 'Peachi';
  src: url('/img/user/fonts/peachi/peachi-medium.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Peachi';
  src: url('/img/user/fonts/peachi/peachi-bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Rumiko';
  src: url('/img/user/fonts/rumiko/Rumiko-Regular.otf') format('opentype');
  font-weight: normal;
}


body {
  // Fonts

  --h1-font: 'Peachi',sans-serif;
  --h2-font: 'Peachi',sans-serif;
  --h3-font: 'Peachi',sans-serif;
  --h4-font: 'Peachi',sans-serif;
  --h5-font: 'Peachi',sans-serif;
  --h6-font: 'Peachi',sans-serif;
  --h1-weight: 500;
  --h2-weight: 500;
  --h3-weight: 500;
  --h4-weight: 500;
  --h5-weight: 500;
  --h6-weight: 500;
  --font-text: 'Rumiko';
  // Colors
  --code-normal: #7243de;
  --code-background: #232229;
  background-color: #1C1828;
}


.markdown-rendered{
  h1:nth-child(1) {
    font-size: 4rem;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top: 3.5rem;
    margin-bottom: 1.25rem;
  }
  img {
    border-radius: 1rem;
  }
  .callout {
    padding: 1rem 0.5rem;
  }
  p {
    margin-bottom: 1.8rem;
    text-align: justify;
  }
  code {
    margin: 1.5rem 0px !important;
  }
  hr {
    margin: 5rem auto;
    width: 30%;
  }
}


.search-box {
  padding: 0px;
  #term {
    padding: 1.8rem 1rem;
    border: none;
    border-bottom: 1px var(--text-normal) solid;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 1rem;
    outline: none !important;
  }
}

.sidebar {
  top: 9rem;
  
  .toc,.graph-title-container {
    background: none;
    padding: 0px;
    border: none;
    border-radius: 0px;
  }
  .toc-title,.graph-title {
    font-family: var(--h1-font);
    font-size: 2.2rem !important
  }
  .toc-container li::before {
    content: "* " !important;
    color: var(--text-neutral);
  }
  .toc-container{ 
    border-left: none;
    li a {
      color: var(--text-neutral);
    }
  }
}
